/* ==== Base Styles ==== */
* {

    box-sizing: border-box;

}

/* center page/ set content size/ set background color*/
body {

    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 960px;
    background-color: #222;
}

/* ==== SearchField Styles ==== */

/* adjust sizing and positioning */
#search {

    margin-top: 2.8rem;
    width: 40%;
    padding: .4rem;
    margin-bottom: 2.8rem;
}

/* change search field text color and font size */
input[type="search"] {

    font-size: .8rem;
    color: #FDF0D5;
    font-weight: 700;
}

/* change search field color when mouse over */
input:hover {
    
    background: #222;
}

/* Input Border Styles */
input#search {

    border: 2px solid #F0544F;
    border-radius: 5px;
    box-shadow: #a7bdd4 0px 20px 30px -10px;
}

/* Shift placeholder right & text styles */
input#search::placeholder {

    text-align: right;
    font-size: .6rem;
    font-style: italic;
    font-weight: bold;
}

/* ==== Grid Styles ==== */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    grid-gap: .4rem;
}


.gstyles {

    border-radius: 4%;
    box-shadow: #F0544F 0px 8px 18px -10px;
    padding-bottom: 2%;
    margin: 4%;

    box-shadow:#A7BDD4 0px 8px 18px -10px;
}

img {
    border-radius: 4%;
    box-shadow:#A7BDD4 0px 8px 18px -10px;
}


