// =====Base Styles===== //
* {
    margin: 0 auto;
    box-sizing: border-box;

}

body {
    text-align: center;
    width: 100%;
    max-width: 960px;

    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );

}

#search {
    width: 40%;
    padding: .4rem;
    margin-bottom: 1rem;
 }